.headerStyle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerStyle ul {
    display: flex;
}

.headerStyle li {
    padding: 0 15px;
    display: block;
}

.headerStyle a {
    text-decoration: none;
}


.headerStyle img {
    height: 30px;
    cursor: pointer;
}